{% extends 'base.html.twig' %}
{% block title %}Task Details
{% endblock %}
{% block content %}
	<div class="container mx-auto my-8">
		<h1 class="text-3xl font-bold text-indigo-600 dark:text-gray-200 mb-6">Tâche
			{{ task.title }}</h1>
		<div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 mb-6">
			<table class="w-full text-left border-collapse">
				<tbody>
					<tr class="border-b dark:border-gray-700">
						<th class="py-2 px-4 font-medium text-gray-600 dark:text-gray-300">Id</th>
						<td class="py-2 px-4 text-gray-800 dark:text-gray-200">{{ task.id }}</td>
					</tr>
					<tr class="border-b dark:border-gray-700">
						<th class="py-2 px-4 font-medium text-gray-600 dark:text-gray-300">Titre</th>
						<td class="py-2 px-4 text-gray-800 dark:text-gray-200">{{ task.title }}</td>
					</tr>
					<tr class="border-b dark:border-gray-700">
						<th class="py-2 px-4 font-medium text-gray-600 dark:text-gray-300">Description</th>
						<td class="py-2 px-4 text-gray-800 dark:text-gray-200">{{ task.description }}</td>
					</tr>
					<tr class="border-b dark:border-gray-700">
						<th class="py-2 px-4 font-medium text-gray-600 dark:text-gray-300">Prix</th>
						<td class="py-2 px-4 text-gray-800 dark:text-gray-200">{{ task.price }}
							€</td>
					</tr>
					<tr class="border-b dark:border-gray-700">
						<th class="py-2 px-4 font-medium text-gray-600 dark:text-gray-300">Créé le</th>
						<td class="py-2 px-4 text-gray-800 dark:text-gray-200">{{ task.createdAt ? task.createdAt|date('d/m/Y \à H:i:s') : '' }}</td>
					</tr>
					<tr class="border-b dark:border-gray-700">
						<th class="py-2 px-4 font-medium text-gray-600 dark:text-gray-300">Contient du contenu adulte</th>
						<td class="py-2 px-4 text-gray-800 dark:text-gray-200">
							{{ task.isAdultContent ? 'Oui' : 'Non' }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="flex justify-between">
			<a href="{{ path('app_task_index') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
				← Revenir aux tâches
			</a>
			<div class="space-x-2">
				<a href="{{ path('app_task_edit', {'id': task.id}) }}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
					Modifier
				</a>
				{{ include('admin/task/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
