{% extends 'base.html.twig' %}

{% block scripts %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
	<article class="container mx-auto max-w-6xl px-4">

		<div class="flex flex-col md:flex-row gap-12 rounded-3xl shadow-md bg-white p-8 mb-8 dark:bg-gray-700 ">
			<div class="w-full md:w-3/5">
				<Image src={{offer.coverPicture}} alt={product.imageAlt || product.name} width={600} height={400} class="rounded-lg w-full aspect-video object-cover"/>
			</div>
			<div class="w-full md:w-2/5">
				<h1 class="text-3xl font-bold mb-2">{{offer.title}}</h1>

				<p class="font-semibold mb-12">{{offer.description}}</p>

				{{ form_start(taskForm) }}
				{{ form_widget(taskForm) }}
				{{ form_end(taskForm) }}

			</div>

		</div>

		<div class="">
			<h2 class="text-2xl font-bold mb-4">Evaluations ({{ offer.reviews|length }})</h2>

			<div class="flex flex-col ">
				<div class="rounded-3xl shadow-md bg-white p-8 mb-8 dark:bg-gray-700">
					{{ form_start(reviewForm) }}
					{{ form_widget(reviewForm) }}
					{% if app.user %}
						<button class="mt-2 py-2 px-4 border transition-all duration-300 border-fuchsia-400 text-fuchsia-400 hover:text-gray-800 font-medium rounded-xl hover:bg-fuchsia-300 focus:ring-2 focus:ring-fuchsia-200 focus:ring-offset-2 dark:border-fuchsia-200 dark:text-fuchsia-200 dark:hover:bg-fuchsia-300 dark:focus:ring-fuchsia-100 dark:hover:text-gray-800">{{ button_label|default('Evaluer') }}</button>
					{% else %}
						<a href="{{path('app_login')}}" class="mt-2 py-2 px-4 border transition-all duration-300 border-fuchsia-400 text-fuchsia-400 hover:text-gray-800 font-medium rounded-xl hover:bg-fuchsia-300 focus:ring-2 focus:ring-fuchsia-200 focus:ring-offset-2 dark:border-fuchsia-200 dark:text-fuchsia-200 dark:hover:bg-fuchsia-300 dark:focus:ring-fuchsia-100 dark:hover:text-gray-800">{{ button_label|default('Evaluer') }}</a>
					{% endif %}
					{{ form_end(reviewForm) }}
				</div>
				<hr>
				<div class="mt-6">
					{% for review in offer.reviews %}
						{% include 'ui/review_card.html.twig' %}
					{% endfor %}
				</div>
			</div>

		</article>
	{% endblock %}
