{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Admin
{% endblock %}

{% block content %}
	<div class="container my-5 mx-auto max-w-4xl">
		<h1 class="mb-4 text-2xl font-bold">Tableau de bord Admin</h1>
		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

			<div class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg">
				<div class="p-4">
					<h5 class="text-lg font-semibold mb-2">Gérer les Catégories</h5>
					<p class="text-gray-600 dark:text-white mb-4">
						Ajouter, modifier ou supprimer des catégories.
					</p>
					<a href="{{ path('app_category_index') }}" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
						Voir les catégories
					</a>
				</div>
			</div>

			<div class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg">
				<div class="p-4">
					<h5 class="text-lg font-semibold mb-2">Gérer les Offres</h5>
					<p class="text-gray-600 dark:text-white mb-4">
						Ajouter, modifier ou supprimer des offres.
					</p>
					<a href="{{ path('app_offer_index') }}" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
						Voir les offres
					</a>
				</div>
			</div>

			<div class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg">
				<div class="p-4">
					<h5 class="text-lg font-semibold mb-2">Gérer les Tâches</h5>
					<p class="text-gray-600 dark:text-white mb-4">
						Ajouter, modifier ou supprimer des tâches.
					</p>
					<a href="{{ path('app_task_index') }}" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
						Voir les tâches
					</a>
				</div>
			</div>

			<div class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg">
				<div class="p-4">
					<h5 class="text-lg font-semibold mb-2">Gérer les Utilisateurs</h5>
					<p class="text-gray-600 dark:text-white mb-4">
						Ajouter, modifier ou supprimer des utilisateurs.
					</p>
					<a href="{{ path('app_user_index') }}" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
						Voir les utilisateurs
					</a>
				</div>
			</div>

			<div class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg">
				<div class="p-4">
					<h5 class="text-lg font-semibold mb-2">Gérer les Commandes</h5>
					<p class="text-gray-600 dark:text-white mb-4">
						Ajouter, modifier ou supprimer des commandes.
					</p>
					<a href="{{ path('app_admin_order_index') }}" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
						Voir les commandes
					</a>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
