<!-- Navbar -->
<nav class="bg-indigo-600 p-4 mb-20 dark:bg-gray-900">
	<div class="container mx-auto flex justify-between items-center text-white">
		<a href="{{ path('app_home') }}" class="text-2xl font-bold">DoItTogether</a>
		<ul class="flex space-x-6">
			<li>
				<a href="{{ path('app_offers_list') }}" class="hover:text-gray-300">Annonces</a>
			</li>
			<li>
				<a href="{{ path('app_categories_list') }}" class="hover:text-gray-300">Services</a>
			</li>
			{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
				<li>
					<a href={{path("app_user_profile")}} class="hover:text-gray-300">
						Mon profil {{ app.user.username }}
					</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('admin_dashboard') }}" class="hover:text-gray-300">Admin</a>
				</li>
			{% endif %}
			<li>
			{% if app.user %}
				<a href="{{ path('app_logout') }}" class="hover:text-gray-300">Se déconnecter</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="hover:text-gray-300">Se connecter</a>
			{% endif %}
			</li>		
		</ul>
	</div>
</nav>
