<!-- Navbar -->
<nav class="bg-indigo-600 p-4 mb-20 dark:bg-gray-900">
	<div class="container mx-auto flex flex-col md:flex-row justify-between items-center text-white">
		<div class="flex w-full md:w-min justify-between">
			<a href="{{ path('app_home') }}" class="text-2xl font-bold mb-4 md:mb-0">DoItTogether</a>
			<button class="mr-12 block md:hidden text-white focus:outline-none" id="navbar-toggle">
				<svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden w-full md:w-max md:flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 mt-4 md:mt-0" id="navbar-menu">
			<li>
				<a href="{{ path('app_offers_list') }}" class="hover:text-gray-300">Annonces</a>
			</li>
			<li>
				<a href="{{ path('app_categories_list') }}" class="hover:text-gray-300">Services</a>
			</li>
			{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
				<li>
					<a href={{path("app_user_profile")}} class="hover:text-gray-300">
						Mon profil
						{{ app.user.username }}
					</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('admin_dashboard') }}" class="hover:text-gray-300">Admin</a>
				</li>
			{% endif %}
			<li>
				{% if app.user %}
					<a href="{{ path('app_logout') }}" class="hover:text-gray-300">Se déconnecter</a>
				{% else %}
					<a href="{{ path('app_login') }}" class="hover:text-gray-300">Se connecter</a>
				{% endif %}
			</li>
		</ul>
	</div>
</nav>

<script>
	document.getElementById('navbar-toggle').addEventListener('click', function () {
var menu = document.getElementById('navbar-menu');
menu.classList.toggle('hidden');
});
</script>
